---
layout: main
---

{% for post in paginator.posts limit:6 %}
  <div class="chapter">
    <a href="{{post.url | prepend: site.baseurl}}">
      {% if post.img %}
      <img src={{ "/assets/img/" | prepend: site.baseurl | append: post.img }} alt="{{post.title}}">
      {% endif %}
    </a>
    <div class="chapter_inner">
      <!--<p class="chapter_number">{{post.date | date: '%Y, %b %d'}}</p>-->
      <h3 class="chapter_title"> <font color="white"> {{post.title}} </font></h3>
    </div>
  </div>
{% endfor %}